PrimitiveGeneration/Intermediate/
PrimitiveGeneration/.vs/
PrimitiveGeneration/Binaries/
PrimitiveGeneration/Saved/
PrimitiveGeneration/Plugins/RayLine/Binaries/
PrimitiveGeneration/Plugins/RayLine/Intermediate/
